<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="six columns">
				<label for="name">Project Name</label>
				<input type="text" name="ProjectName" id="name" class="u-full-width">
			</div>
			<div class="six columns">
				<label for="EndDate">Date:</label>
				<input type="date" name="EndDate" id="EndDate" class="u-full-width">
			</div>
		</div>
	</div>

</body>
</html>