<!DOCTYPE html>
<html>
<head>
	<title>Sign up form</title>
</head>
<body>
<form action="/auth/register" method="POST" >
	<label>First Name</label>
	<input type="text" name="firstName">
	<label>Last Name</label>
	<input type="text" name="lastName">
	<label>UserName</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="Password" name="password">
	<input type="submit" name="submit">
</form>
</body>
</html>