<div class="container">
  <div class="row">
    <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="(SectionKey, SectionValue) in project.Section">
        <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>{{SectionValue.Name}}</div>
        <div class="collapsible-body">
          <a href="" ng-click="addTaskModal(SectionValue.Name)"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add Task">add_circle_outline</i></a>
          
          <ul>
            <li ng-repeat="(Todokey, TodoValue) in SectionValue.todolist">
              <p>
                <input type="checkbox" id="{{TodoValue._id}}" />
                <label for="{{TodoValue._id}}">{{TodoValue.Content}}  <strong>Due Date:</strong> {{TodoValue.EndDate}}</label>
              </p>

            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a onclick="$('#modalSection').modal('open');" class="btn-floating red tooltipped" data-position="top" data-delay="20" data-tooltip="Add Sections"><i class="material-icons">format_list_bulleted</i></a></li>
      <li><a onclick="$('#modalTodo').modal('open');" class="btn-floating green tooltipped" data-position="top" data-delay="20" data-tooltip="Add Task"><i class="material-icons">check</i></a></li>
      <li><a class="btn-floating blue tooltipped" data-position="top" data-delay="20" data-tooltip="Add Project"><i class="material-icons">card_travel</i></a></li>
    </ul>
  </div>





  <!-- Modal Structure -->
  <div id="modalTodo" class="modal modal-fixed-footer">
    <form class="col s12" id="LoginForm" ng-submit="addTask()">
    <div class="modal-content">
      <h4>Add Task</h4>
        <div class="row">
          <div class="input-field col s12">
            <input id="Content" name="Content" type="text" class="validate" ng-model='Content'>
            <label for="Content">Task</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="EndDate" name="EndDate" type="text" class="datepicker" ng-model="EndDate">
            <label for="EndDate">Due Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select ng-model="addtoSectionName" ng-options="SectionValue.Name for SectionValue in project.Section"></select>
            <label>Section:</label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</button>
    </div>
    </form>
  </div>



  <div id="modalSection" class="modal modal-fixed-footer">
    <form class="col s12" id="LoginForm" ng-submit="addSection()">
    <div class="modal-content">
      <h4>Add Section</h4>
        <div class="row">
          <div class="input-field col s12">
            <input id="Name" name="Name" type="text" class="validate" ng-model='Name'>
            <label for="Name">Section Name</label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</button>
    </div>
    </form>
  </div>


