<div class="row">
    <div class="col s12 m10 offset-m1 l6 offset-l3">
      <div class="card-panel">
        <h4 class="center">Register</h4>
        <div class="row">
    <form class="col s12" id="SignUpForm" ng-submit="SignUp()">
      <div class="row">
        <div class="input-field col s6">
          <input id="firstName" name="firstName" type="text" class="validate" ng-model='firstName'>
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="lastName" name="lastName" type="text" class="validate" ng-model="lastName">
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s12">
        <input id="email" name="username" type="text" class="validate" ng-model="username" >
        <label for="email">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate" ng-model="password" >
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light right" type="submit" name="action">Register
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
      </div>
    </div>
</div>